<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link rel="stylesheet" href="/admin/css/style.css">

</head>

<body>

    <!-- =========================================
        Header
    ========================================== -->

    <header class="header">

        <div class="inner">

            <h1 class="logo">
                <a href="#">
                    <img src="/admin/images/logo.png" alt="">
                </a>
            </h1>

            <nav class="gnb">

                <ul>

                    <li>
                        <a href="popup_list.html">팝업관리</a>
                    </li>

                    <li class="active">
                        <a href="review_list.html">리뷰관리</a>
                    </li>

                    <li>
                        <a href="inquiry_list.html">가맹문의관리</a>
                    </li>

                </ul>

            </nav>

            <div class="header-util">

                <form th:action="@{/admin/logout.do}" method="post">
                    <button type="submit" class="btn-logout">로그아웃</button>
                </form>

            </div>

        </div>

    </header>

    <!-- =========================================
        Main
    ========================================== -->

    <main class="container">

        <!-- Page Title -->

        <section class="page">

            <div class="page-title">

                <div class="title-left">

                    <img src="/admin/images/icon_review.png" alt="" class="title-icon">

                    <h2>리뷰관리</h2>

                </div>

            </div>


            <!-- Table -->

            <div class="table-wrap">

                <table class="table-list">

                    <colgroup>

                        <col style="width:80px;">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>

                    </colgroup>

                    <thead>

                        <tr>

                            <th>번호</th>
                            <th>미리보기</th>
                            <th>제목</th>
                            <th>플랫폼</th>
                            <th>등록일</th>
                            <th>노출</th>
                            <th>순서</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>1</td>

                            <td class="subject">
                                <a href="#" class="align-center">
                                    <img src="/admin/images/02.jpg" alt="" class="review_preview">
                                </a>
                            </td>

                            <td class="nowrap">산들바람 리뷰</td>

                            <td>네이버</td>

                            <td>2026-07-24</td>

                            <td>
                                <span class="badge badge-blue">
                                    노출중
                                </span>
                            </td>

                            <td>1</td>

                        </tr>

                        <tr>

                            <td>1</td>

                            <td class="subject">
                                <a href="#" class="align-center">
                                    <img src="/admin/images/02.jpg" alt="" class="review_preview">
                                </a>
                            </td>

                            <td class="nowrap">산들바람 리뷰</td>

                            <td>네이버</td>

                            <td>2026-07-24</td>

                            <td>
                                <span class="badge badge-blue">
                                    노출중
                                </span>
                            </td>

                            <td>1</td>

                        </tr>

                        <tr>

                            <td>1</td>

                            <td class="subject">
                                <a href="#" class="align-center">
                                    <img src="/admin/images/02.jpg" alt="" class="review_preview">
                                </a>
                            </td>

                            <td class="nowrap">산들바람 리뷰</td>

                            <td>네이버</td>

                            <td>2026-07-24</td>

                            <td>
                                <span class="badge badge-blue">
                                    노출중
                                </span>
                            </td>

                            <td>1</td>

                        </tr>

                        <tr>

                            <td>1</td>

                            <td class="subject">
                                <a href="#" class="align-center">
                                    <img src="/admin/images/02.jpg" alt="" class="review_preview">
                                </a>
                            </td>

                            <td class="nowrap">산들바람 리뷰</td>

                            <td>네이버</td>

                            <td>2026-07-24</td>

                            <td>
                                <span class="badge badge-gray">
                                    숨김
                                </span>
                            </td>

                            <td>1</td>

                        </tr>


                    </tbody>

                </table>

            </div>

            <!-- Bottom -->

            <div class="page-bottom">

                <!-- Pagination -->

                <nav class="pagination">

                    <a href="#" class="page-btn first">&laquo;</a>

                    <a href="#" class="page-btn prev">&lsaquo;</a>

                    <a href="#" class="page-number active">1</a>

                    <a href="#" class="page-number">2</a>

                    <a href="#" class="page-number">3</a>

                    <a href="#" class="page-number">4</a>

                    <a href="#" class="page-number">5</a>

                    <a href="#" class="page-btn next">&rsaquo;</a>

                    <a href="#" class="page-btn last">&raquo;</a>

                </nav>


            </div>

        </section>

    </main>

</body>

</html>                        