<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link rel="stylesheet" href="/admin/css/style.css">

</head>

<body>

    <!-- =========================================
        Header
    ========================================== -->

    <header class="header">

        <div class="inner">

            <h1 class="logo">
                <a href="#">
                    <img src="/admin/images/logo.png" alt="">
                </a>
            </h1>

            <nav class="gnb">

                <ul>

                    <li class="active">
                        <a href="popup_list.html">팝업관리</a>
                    </li>

                    <li>
                        <a href="review_list.html">리뷰관리</a>
                    </li>

                    <li>
                        <a href="inquiry_list.html">가맹문의관리</a>
                    </li>

                </ul>

            </nav>

            <div class="header-util">

                <a href="#" class="btn-logout">
                    로그아웃
                </a>

            </div>

        </div>

    </header>

    <!-- =========================================
        Main
    ========================================== -->

    <main class="container">

        <!-- Page Title -->

        <section class="page">

            <div class="page-title">

                <div class="title-left">

                    <img src="/admin/images/icon_popup.png" alt="" class="title-icon">

                    <h2>팝업관리</h2>

                </div>

            </div>


            <!-- Form -->

            <form>

                <div class="form-table">

                    <table>

                        <colgroup>

                            <col style="width:190px;">
                            <col>

                        </colgroup>

                        <tbody>

                            <!-- 제목 -->

                            <tr>

                                <th>
                                    제목
                                </th>

                                <td>
                                    	
                                    [이벤트] 고기장인 삼겹살 출시 기념 10% 할인 쿠폰

                                </td>

                            </tr>

                            <!-- 상태 -->

                            <tr>

                                <th>
                                    상태
                                </th>

                                <td>
                                    	
                                    <span class="badge badge-orange">
                                        노출중
                                    </span>

                                </td>

                            </tr>

                            <!-- 이미지 -->

                            <tr>

                                <th>
                                    파일 이미지 업로드
                                </th>

                                <td>

                                    <img src="/admin/images/02.jpg" alt="">

                                </td>

                            </tr>

                            <!-- 노출기간 -->

                            <tr>

                                <th>
                                    노출 기간 설정
                                </th>

                                <td>

                                    2026년 7월 20일 ~ 2026년 7월 27일

                                </td>

                            </tr>

                            <!-- 등록일 -->

                            <tr>

                                <th>
                                    등록일
                                </th>

                                <td>

                                    2026년 7월 20일

                                </td>

                            </tr>

                            <!-- 수정일 -->

                            <tr>

                                <th>
                                    수정일
                                </th>

                                <td>

                                    2026년 7월 20일

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <!-- Bottom -->

                <div class="form-btn">

                    <button
                        type="button"
                        class="btn btn-gray"
                        onclick="location.href='popup_list.html'">

                        목록

                    </button>

                    <button
                        type="button"
                        class="btn btn-gray">

                        삭제

                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        수정

                    </button>

                </div>

            </form>
            


        </section>

    </main>

</body>

</html>                        